body {
    color: black;
     background-attachment: fixed;
    background-size: cover;

}
.quoteText{
    color: white;
    height: 100px;
    background-color: rgba(00, 00, 00, 0.4);
    /*display: flex;
    align-items: center;*/
}
.toDo{
  background-color: rgba(00, 00, 00, 0.4);  
  color: white; 
}
